

/* big screen */
@media(min-width: 640px){
    .footer {
        display: flex;
        justify-content: space-between;
    }
}

/* main layout */
.sub-site {
    font-size: 1rem;
    border: 1px solid #888;
    border-radius: 6px;
    color: gold;
    padding: 4px 10px;
}

.master-site {
    vertical-align: middle;
}

/* card views */
.card-container {
    display: flex;
}

.hor-card {
    /* for test */
    background-color: #888;
    border: 1px solid #444;
    
    min-height: 180px;
    min-width: 320px;

}