

/* big screen */
@media(min-width: 640px){
    .footer {
        display: flex;
        justify-content: space-between;
    }
}

/* main layout */
.sub-site { 
    font-size: 1rem;
    border: 1px solid #888;
    border-radius: 6px;
    color: silver;
    padding: 4px 10px;
}

.master-site {
    vertical-align: middle;
}

/* card views */
.card-container {
    margin: 40px auto;
    display: flex;
    align-items: center; /* ??seems this can be removed */
    justify-content: space-around;
    flex-wrap: wrap;
}

.fixed-card {
    /* for test */
    background-color: #888;
    border: 1px solid #fff;
    
    height: 180px;
    width: 320px; /* todo: adjust the sizes for desktop and mobile */

    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;

    text-align: center;
    line-height: 138px; /* depend: this is to make text vertically centered, need adjust if parent's height changed */
}

/* depend: min-width = #-of-cards-one-line-on-big-screen * card-width */
@media(min-width: 960px) {
    /* .fixed-card {
        margin-bottom: 0;
    }  */
}

@media(max-width: 960px) {
    /* fixme: need this only when there is one view in the main body */
    /* should do this when only one card per row, if there are two cars, they will mis-align */
   /*  .fixed-card:last-of-type {
        margin-bottom: 0;
    } */
}

.fixed-card strong{
    color: white;
    font-size: 70px;
    font-weight: normal;
    padding-right: 20px;
}

.fixed-card span{
    color: white;
}